@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900&display=swap";
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #333;
  color: #eee; }

* {
  font-family: 'Montserrat';
  box-sizing: border-box; }

h1 {
  font-weight: 900; }

#app {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px; }

#sounds {
  /* Functional styling */ }
  #sounds .preset-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px; }
    #sounds .preset-section .preset {
      display: block;
      flex: 25%;
      cursor: pointer;
      padding: 10px;
      text-align: center;
      background: #1c1c1c; }
      #sounds .preset-section .preset[data-enabled="false"] {
        color: #bbb;
        background: #222; }
      #sounds .preset-section .preset span {
        padding-left: 5px;
        padding-right: 5px; }
      #sounds .preset-section .preset .preset-title {
        display: inline-block;
        width: 100%;
        font-size: 2em;
        font-weight: 900; }
        #sounds .preset-section .preset .preset-title .icon {
          margin-right: 6px; }
      #sounds .preset-section .preset .description {
        display: inline-block;
        margin-top: 8px;
        margin-bottom: 8px; }
      #sounds .preset-section .preset .categories {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: white; }
        #sounds .preset-section .preset .categories .icon {
          margin-left: 4px;
          margin-right: 4px; }
  #sounds .sound-section {
    padding-bottom: 25px; }
    #sounds .sound-section .open .grid-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      #sounds .sound-section .open .grid-wrapper .sound-container {
        flex: 33.333333%;
        margin-top: 10px;
        margin-bottom: 10px; }
  #sounds .sound-container {
    text-align: center; }
    #sounds .sound-container .wrapper {
      max-width: 256px;
      margin: 0 auto; }
    #sounds .sound-container button.sound-button {
      width: 100%;
      background: none;
      border: none;
      color: #bbb;
      cursor: pointer;
      font-weight: 900;
      font-size: 2em;
      min-height: 100px; }
      #sounds .sound-container button.sound-button span[class^="icon-"], #sounds .sound-container button.sound-button span [class*="icon-"] {
        display: block;
        margin-bottom: 12px; }
  #sounds .sound-volume {
    display: none; }
  #sounds .sound-container.playing .sound-volume {
    display: inline-block; }
  #sounds .sound-container.playing button.sound-button {
    color: #eee; }

.ui-toggle a {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-weight: 700;
  padding: 12px 8px;
  color: #bbb; }
  .ui-toggle a span.icon {
    margin-left: 6px; }
.ui-toggle[data-opened="true"] a {
  color: #eee; }
.ui-toggle .open {
  padding-top: 12px; }

#toast {
  position: absolute;
  bottom: 35px;
  left: 35px; }
  #toast div.toast {
    background: rgba(255, 255, 255, 0.25);
    padding: 13px;
    font-size: 1.2em;
    border-radius: 9px; }
    #toast div.toast .icon {
      display: inline-block;
      width: 24px;
      height: 24px; }
    #toast div.toast:not(:first-child) {
      margin-top: 25px; }

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #bbb;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; }

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #eee;
  cursor: pointer;
  border: none;
  outline: none; }

a:visited {
  color: #ddd; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.ttf?bpe2td") format("truetype"), url("fonts/icomoon.woff?bpe2td") format("woff"), url("fonts/icomoon.svg?bpe2td#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
.icon,
[class^="icon-"], [class*="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-city:before {
  content: "\e60b"; }

.icon-pencil3:before {
  content: "\e610"; }

.icon-brush:before {
  content: "\e61d"; }

.icon-drop:before {
  content: "\e633"; }

.icon-fire:before {
  content: "\e638"; }

.icon-rain:before {
  content: "\e641"; }

.icon-wind:before {
  content: "\e643"; }

.icon-fan:before {
  content: "\e644"; }

.icon-moon:before {
  content: "\e649"; }

.icon-tape2:before {
  content: "\e6b0"; }

.icon-music-note2:before {
  content: "\e6e5"; }

.icon-tv:before {
  content: "\e7b5"; }

.icon-radio:before {
  content: "\e7b6"; }

.icon-power:before {
  content: "\e7b9"; }

.icon-landscape:before {
  content: "\e82e"; }

.icon-chevron-up:before {
  content: "\e939"; }

.icon-chevron-down:before {
  content: "\e93a"; }

.icon-previous-circle:before {
  content: "\e968"; }

.icon-play-circle:before {
  content: "\e96a"; }

.icon-pause-circle:before {
  content: "\e96b"; }

.icon-next-circle:before {
  content: "\e96c"; }

/*# sourceMappingURL=style.css.map */
